body {
    font-family: var(--body-font);
    font-size: var(--font-size);
    margin: 0;
    padding: 0;
    background-color: var(--peach);

    .skip-link {
        visibility: hidden;
        position: absolute;
    }
}

a {
    color: var(--falu-red);
    &:hover {
        color: var(--brown);
    }
}

svg {
    width: 1.5rem;
    fill: var(--lion);
}