footer {
    font-family: var(--body-font);
    background-color: var(--falu-red);
    color: var(--peach);
    padding: 10px 20px;

    a {
        color: var(--peach);
        &:hover {
            color: white;
        }
    }
}