header {
    .container {
        h1 {
            font-size: calc(var(--font-size) * 2);
            font-weight: 600;
        }

        h2 {
            font-size: calc(var(--font-size) * 1.2);
            font-weight: 300;
        }
        
        & svg {
            width: 1.2rem;
        }

        a {
            text-decoration: none;
            color: var(--link-color);
            &:hover {
                color: var(--link-hover-color);
            }
        }
    }
}