header, nav {
    background-color: var(--brown);
    color: var(--peach);
    margin: 0px;
    a {
        color: var(--peach);
        &:hover {
            color: white;
        }
    }
    ul {
        display: flex;
        justify-content: space-around;
        margin: 0px;
        padding: 10px;
        list-style: none;
        background-color: var(--brown);
    }

}